.paypal_section {
    margin-top: 20px;
}
.single-price-table {
    img {
        width: 50px;
        margin-right: 40px;
    }
    span {
        margin-right: 40px;
    }
}
.cryptos-prices-table {
    height: 660px;
}
.firebase-data-wrapper {
    margin-top: 55px;
}
.select-exchanges {
    position: absolute;
    top:0;
}

  