<!-- ##### Preloader ##### -->
<!-- <div id="preloader">
        <i class="circle-preloader"></i>
    </div> -->
<!-- ##### Header Area Start ##### -->

<section class="cryptos-blog-area section-padding-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-7">
                <div class="blog-area">
                    <!-- Single Blog Area -->
                    <div class="single-blog-area d-flex align-items-start">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="./../../assets/img/blog-img/1.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">This Platform Aims to Disrupt the Market</a>
                            <div class="meta-data">
                                <a href="#">Crypto News</a> |
                                <a href="#">March 18, 2018</a>
                            </div>
                            <p>Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna
                                consectetur, sit amet maximus nisl sagittis.</p>
                        </div>
                    </div>
                    <!-- Single Blog Area -->
                    <div class="single-blog-area d-flex align-items-start">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="./../../assets/img/blog-img/2.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">New Hedge Funds invests in Crypto</a>
                            <div class="meta-data">
                                <a href="#">Crypto News</a> |
                                <a href="#">March 18, 2018</a>
                            </div>
                            <p>Iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna consectetur, sit amet
                                maximus nisl sagittis. Ut in iaculis enim.</p>
                        </div>
                    </div>
                    <!-- Single Blog Area -->
                    <div class="single-blog-area d-flex align-items-start">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="./../../assets/img/blog-img/3.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">This Platform Aims to Disrupt the Market</a>
                            <div class="meta-data">
                                <a href="#">Crypto News</a> |
                                <a href="#">March 18, 2018</a>
                            </div>
                            <p>Morbi vel arcu gravida, iaculis lacus vel, posuere ipsum. Sed faucibus mauris vitae urna
                                consectetur, sit amet maximus nisl sagittis.</p>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Binding Coin Prices -->
            <div class="col-12 col-lg-5">
                <div class="cryptos-prices-table">
                    <div class="single-price-table d-flex align-items-center justify-content-between" *ngFor="let item of coinData; let i = index">
                        <div class="p-content d-flex align-items-center">
                            <span *ngIf="i < 9">0{{i + 1}}</span>
                            <span *ngIf="i > 8">{{i + 1}}</span>
                            <img [src]="item.image" alt="">
                            <p>{{item.name}}
                                <!-- <span>{{item.symbol}}</span> -->
                            </p>
                        </div>
                        <div class="price increase" [ngClass]="item.check == 'increase'? 'increase':'decrease'">
                            <p>${{item.priceUsd | number}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Newsletter Area -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter-area mt-100">
                    <div class="section-heading text-center mx-auto">
                        <h3>Upgrade to  <span>VIP Account</span></h3>
                        <h6>Sign Up To Our VIP List And Get: First For New Coins, Exclusive Events & Offers, Expert Advice & How To’s win the markets.</h6>
                    </div>
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="Subscribe to newsletter" autocomplete="off">
                        <!-- <button type="submit">Subscribe</button> -->
                        <div class="paypal_section" #paypal></div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</section>

